


<!doctype html>
<html lang="en">
  <head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
   
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>
  <style>
      img{
          width: 300;
          height: 300;
          border-radius: 150px;
          box-shadow: 10px 10px 15px black;
          align-content: center;
          margin: 50px; 
      }
      .col-8{
          margin: auto;
          align-items: center;
          
      }
  </style>
  <body>


<div class="detiels">
    <div class="row">
<div class="col col-4" id="img">
    <img src="https://picsum.photos/400/230" alt="profileimage">
</div>
<div class="col-8">
    
<p>Name :</p><strong>{{teacher.first_name}}</strong
<p>Last Name    :</p><strong>{{teacher.last_name}}</strong>
<p>Theme    :</p><strong>{{teacher.theme}}</strong>
<p>Email  :</p><strong>{{teacher.teacher.email}}</strong>
<p>Degree    :</p><strong>{{teacher.degree}}</strong>
<p>Experience  :</p><strong>{{teacher.experience}}</strong>

</div>


</div>


</div>
<hr>
<hr><hr><hr>
<div>Statics</div>