.card{
    border-radius: 20px;

}
.card-body{
    margin:20px;
}
.review-btn{
   float: right;
}
.fa-star{
    color: rgb(240, 226, 107) ;
    text-shadow:1px 1px 1px rgb(208, 253, 9);
    font-size: 1.5rem;

}
.list-group-item{
    margin: 0;
    height: 10rem;
    
    justify-content: space-between;
}
#id_text{
    width: 100%;
    margin: 0;
    padding: 0;
}
