
{% load static %}

<!doctype html>
<html lang="en">
  <head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
   
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>
  <style>
      img{
          width: 300;
          height: 300;
          border-radius: 150px;
          box-shadow: 10px 10px 15px black;
          align-content: center;
          margin: 50px; 
      }
      .col-8{
          margin: auto;
          align-items: center;
          
      }
  </style>
  <body>
{% include "navbar.html" %}

<div class="detiels">
    <div class="row">
<div class="col col-4" id="img">
    <img src="https://picsum.photos/400/230" alt="profileimage">
</div>
<div class="col-8">
    
<p>Name :</p>
<p>Last Name    :</p>
<p>Phone    :</p>
<p>address  :</p>
<p>email    :</p>
<p>age  :</p>
<p>study year   :</p>
<a name="update" id="update" class="btn btn-warning" href="#" role="button">UpDate Profile</a>

</div>


</div>


</div>
<ul class="list-group">
    <li class="list-group-item d-flex justify-content-between align-items-center">
        Active list item
        <a href=""><span class="badge badge-primary badge-pill">Start</span></a>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-center">
        List item
        <a href=""><span class="badge badge-secondary badge-pill">Start</span></a>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-center disabled">
        Disabled item
        <a href=""><span class="badge badge-secondary badge-pill">Start</span></a>
    </li>
</ul>
<hr>
<hr><hr><hr>
<div>Statics</div>