{% extends 'base.html' %}
{% load static %}



{% block content %}
<main class="site-main"data-aos="fade-in">
    <!-- Banner Area -->
    <section class="site-banner" data-aos="fade-in">
        <div class="container" data-aos="fade-in">
            <div class="row" data-aos="fade-in">
                <div class="col-lg-4 col-md-12 site-title">
                    <h3 class="title-title">E-CLASS</h3>
                    <h1 class="text-text text-uppercase">we try to make good course available for all for free</h1>
                    <div class="site-buttons">
                        <div class="btn" ><a href="{% url 'Register' %}">Get Start</a>
                            <div class="btn2"></div>
                          </div>
                    </div>
                </div>
                <div class="col-lg-8 col-md-12 banner-image" data-aos="fade-in">
                    <img src="{% static "/images/pic3.png" %}" alt="Photo" class="img-fluid">
                </div>
            </div>
        </div>
    </section>
    <!-- End Banner Area -->
</main>


<section class="features">
    <hr>
    <div class="feature-box" data-aos="fade-down" data-aos-duration="500">
        <span class="feature-span">features</span>
    </div>
    <div class="container" >
        <div class="row feature" data-aos="fade-left" data-aos-duration="500">
            <div class="col-lg-6 col-md-12 feature">
                <h4 class="feature-title">Stream Lesson</h4>
                <p class="feature-text">You can watch the lesson when you are study the documentation for more comprehention</p>
            </div>
            <div class="col-lg-6 col-md-12 feature-icon" data-aos="fade-in">
                <img src="{% static "/images/feature1.png" %}" alt="f-icon" class="feature-img">
            </div>
            
        </div>
        <div class="row feature"  data-aos="fade-right" data-aos-duration="500">
            <div class="col-lg-6 col-md-12 feature-icon" >
                <img src="{% static "/images/pic1.png" %}" alt="f-icon" class="feature-img">
            </div>
            <div class="col-lg-6 col-md-12 feature" >
                <h4 class="feature-title">Stream Lesson</h4>
                <p class="feature-text">You can watch the lesson when you are study the documentation for more comprehention</p>
            </div>
            
            
        </div>
        <div class="row feature" data-aos="fade-left" data-aos-duration="500">
            <div class="col-lg-6 col-md-12 feature" >
                <h4 class="feature-title">Stream Lesson</h4>
                <p class="feature-text">You can watch the lesson when you are study the documentation for more comprehention</p>
            </div>
            <div class="col-lg-6 col-md-12 feature-icon" >
                <img src="{% static "/images/pic2.png" %}" alt="f-icon" class="feature-img">
            </div>
            
        </div>
        <div class="row feature" data-aos="fade-right" data-aos-duration="500">
            <div class="col-lg-6 col-md-12 feature-icon">
                <img src="{% static "/images/pic3.png" %}" alt="f-icon" class="feature-img">
            </div>
            <div class="col-lg-6 col-md-12 feature" >
                <h4 class="feature-title">Stream Lesson</h4>
                <p class="feature-text">You can watch the lesson when you are study the documentation for more comprehention</p>
            </div>
            
            
        </div>
        
        
    </div>
</section>

<!-- Sponsorship -->

<!-- OUR DEVELOPeR -->
<section class="developers" data-aos="fade-in">
    <hr>
    <div class="feature-box" data-aos="fade-down" data-aos-duration="500">
        <span class="feature-span">Our Developers</span>
    </div>
<div class="box" data-aos="fade-in">
    <div class="card">
      <div class="imgBx">
          <img src="https://images.unsplash.com/photo-1532123675048-773bd75df1b4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" alt="images">
      </div>
      <div class="details">
          <h2>SomeOne Famous<br><span>Director</span></h2>
      </div>
    </div>
  
     <div class="card" data-aos="fade-in">
       <div class="imgBx">
          <img src="https://images.unsplash.com/photo-1549417229-aa67d3263c09?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" alt="images">
       </div>
       <div class="details">
          <h2>SomeOne Famous<br><span>Producer</span></h2>
        </div>
     </div>

     <div class="card" data-aos="fade-in">
       <div class="imgBx">
          <img src="https://images.unsplash.com/photo-1548094878-84ced0f6896d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" alt="images">
       </div>
       <div class="details">
          <h2>SomeOne Famous<br><span>Actor</span></h2>
        </div>
     </div>

</div>
</section>


{% endblock content %}


