
<nav class="navbar navbar-expand-lg navbar-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">E-Class</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="mr-auto"></div>
        <div class="navbar-nav">
          <a class="nav-link active" aria-current="page" href="{% url 'Home' %}">Home</a>
          <a class="nav-link" href="{% url 'CoursesList' %}">Courses</a>
          <a class="nav-link" href="{% url 'AboutUs' %}">About us</a>
          <a class="nav-link" href="{% url 'ContactUs' %}">contact us</a>
          <a class="nav-link" href="{% url 'HowStudy' %}">How study</a>
          {% if user.is_authenticated %}
            <p>Welcome, {{ request.user}}. </p>
            <a class="nav-link" href="{% url 'Logout' %}">Logout</a>
          {% else %}
            <a class="nav-link" href="{% url 'Login' %}">Login</a>
            <a class="nav-link" href="{% url 'Register' %}">SignUp</a>
          {% endif %}
          




        </div>
      </div>
    </div>
  </nav>