{% extends 'base.html' %}
{% block content %}
<div class="card">
  <div class="card-header">
    <h1>Your lesson added to "course name" <i class="fa fa-hand-peace-o" aria-hidden="true"> </i></h1>
    
  </div>
  <div class="card-body">
    <h4 class="card-title">{{Lesson.name}}</h4>
    <p>Documentation</p>
  </div>
  <div class="card-footer text-muted">
    <a name="add_exam" id="add_exam" class="btn btn-success" href="{% url 'AddActivity' exam.id %}" role="button">Add Exam</a>
  </div>
</div>


  
{% endblock content %}