{% extends "base.html" %}
{% block content %}

<div class="shadow  p-3 mb-5 bg-info !spacing ">  
<div class="container">
  
<div class="card text-white bg-info">
    <div class="card-img-body">
      {% if course.image.url != null %}
        <img class="card-img-top" src="{{ course.image.url }}" alt="course_img">

      {% endif %}
    <div class="card-body">
    <h4 class="card-title">{{course.name}}</h4>
    <h6>Description</h6>
    <p class="card-text"> {{course.description}} </p>
    <hr>
    <h6>rating</h6>
    <p class="card-text"> {{course.rating}} </p>
    <hr>
    <h6>Teacher</h6>
    <p class="card-text"> {{course.teacher}} </p>
  </div>
  <a href="{% url 'LessonsList' course.id %}" class="btn btn-outline-primary">Roll IN</a>
  </div>

</div>  
</div>
</div>
{% endblock content  %}