{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link href="https://fonts.googleapis.com/css2?family=Righteous&display=swap" rel="stylesheet"> 
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="{% static '/css/style.css' %}">
  <link rel="stylesheet" href=" {% static '/css/courses.css' %} ">
</head>
<body style=" background-color: rgb(230, 255, 247);">
  {% include "navbar.html" %}

    <div class="container">

      <div class="search-filter">
        <form method="get">

          <label for="name">Course</label>{{filter.form.name}}


          <div class="row">
            <div class="col-sm-4"><label for="category">Level</label> {{filter.form.category}} </div>
            <div class="col-sm-4"><label for="teacher">Teacher</label> {{filter.form.teacher}} </div>
            <div class="col-sm-4"><label for="theme">Theme</label> {{filter.form.theme}} </div>
          
          </div>
          <button id="search" type="submit" class="btn btn-outline-secondary"><i class="fa fa-search" aria-hidden="true"></i></button>

        </form>
      </div>
        <ul class="list-group">

          {% for course in courses %}

          <li class="list-group-item" data-aos="fade-up"
          data-aos-anchor-placement="bottom-bottom" data-aos-mirror="true">
            <div class="card">
              <div class="row no-gutters">
                  <div class="col-sm-5" style="background: #868e96;">
                    {% if course.image.url != null %}
                      <img src=" {{course.image.url}} " class="card-img-top h-100" alt="...">
                    {% endif %}
                  </div>
                  <div class="col-sm-7">
                      <div class="card-body">
                          <h5 class="card-title"> {{course.name}} </h5>
                          <span> {{course.theme}} </span>
                          <p>level :<strong> {{course.category}} </strong></p>
                          <p class="card-text"> {{course.description}} </p>
                          <a href="{% url 'CourseReview' course.id %}" class="btn btn-primary stretched-link">View Course</a>
                      </div>
                  </div>
              </div>
          </div>
          </li>
          {% endfor %}
        </ul>
      
    
        <!-- SOCIAL PANEL HTML -->




      </div>


      {% include "footer.html" %}
      <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
      <script>
        AOS.init();
      </script>
    </body>
    </html>
    
